<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}">
    <title>Simple Storefront</title>
</head>
<body>
    <div class="messages">
        <!-- flash messages - supported categories: success, info, error, message (default) -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash-message flash-message-{{ category }}">
                <p>{{ message }}</p>
                <span class="close-btn" onclick="this.parentElement.style.opacity=0;">
                  <svg width="12" height="12" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <path d="m49.941 35.891 33.531-33.531 14.168 14.168-33.531 33.414 33.531 33.531-14.168 14.168-33.531-33.531-33.414 33.531-14.168-14.168 33.531-33.531-33.531-33.414 14.168-14.168z" fill-rule="evenodd" fill="currentColor"/>
                  </svg>
                </span>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    <header>
        <h1>The Marketplace of Ideas</h1>
        <nav class="product-nav">
          <li><a href="{{ url_for('products.show_products') }}">Product List</a></li>
          <li><a href="{{ url_for('products.add_product') }}">Add Product</a></li>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <p>This is the fine print. Buyer beware.</p>
    </footer>
</body>
</html>